
:root {
  /* color palete */
  --color-dark: #160F29;
  --color-teal-dark: #246A73;
  --color-teal-light: #368F8B;
  --color-cream: #F3DFC1;
  --color-tan: #DDBEA8;
  
  --color-danger: #e63946;
  --color-white: #ffffff;

  /* design settings */
  --radius-sm: 6px;
  --radius-md: 12px;
  --transition: all 0.2s ease-in-out;
}

body {
  background-color: var(--color-cream);
  color: var(--color-dark);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 20px;
}